.altaside 
	
	.altaside__btn
		i.fas.fa-bars

	a(href='#' class='altaside__link') Home
	a(href='#' class='altaside__link') Gallery
	a(href='#' class='altaside__link') About Us
	a(href='#' class='altaside__link') Contact Us
	a(href='https://github.com/goranradmanovic/DynamicLayout' class='altaside__link' target='_blank') Project Github
