table(class='bettingTable')
	colspan
		col
		col
		col
		col
		col
		col
		col
		col
		col
		col
		col

	thead
		tr
			th(colspan='2' rowspan='2') Live Betting
			th(colspan='3') Result
			th(colspan='3') Total Goals
			th(colspan='3') Double Chance

		tr
			th 1
			th X
			th 2

			th marg
			th Over
			th Under

			th 1X
			th 12
			th 2X

	tbody
		tr
			td(colspan='2') Haladas - Debrecen

			td 2.34
			td 4.55
			td 8.93

			td 1.12
			td 2.13
			td 9.61

			td 7.53
			td 5.55
			td 3.29