table.userTable
	caption.userTable__heading Users Table
		
	colgroup
		col
		col
		col
		col
		col
		col

	thead
		tr
			th ID
			th Username
			th Name
			th Email
			th Role
			th Post

	tbody
		tr
			td 1
			td andy123
			td Andy Harrison
			td brucewayne@gmail.com
			td Admin
			td 2

		tr
			td 2
			td cris25
			td Cris Stevens
			td stevens@gmail.com
			td Moderator
			td 4

		tr
			td 3
			td claudia11
			td Claudia Ciara
			td claudiaciara@gmail.com
			td Moderator
			td 10
			
		tr
			td 4
			td BooksBeat
			td Barny Swarley
			td booksbeat@example.com
			td Admin
			td 12
